.task-header {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.task-holder {
  margin : 5rem auto;
  display: flex;
  justify-content: center;
}

.task-input {
  width: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.add-task-button{
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background-color :rgb(57, 93, 255);
  border: none;
}

.add-task-button:hover {
  background-color: rgb(36, 61, 255);
  cursor: pointer;
}