.task-header {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.task-holder {
  margin : 5rem auto;
  text-align: center;
}

.task-input {
  width: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.add-task-button{
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background-color :rgb(57, 93, 255);
  border: none;
}

.add-task-button:hover {
  background-color: rgb(36, 61, 255);
  cursor: pointer;
}

.task-list {

  list-style-type: none;
  margin: 0;
  padding : 0;
  width: 60%;
  margin : 2rem auto;
}

.task-item {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #242424;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.804);
}

.task-item:hover {
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.804);
}

.btn {
  background: none;
  border: none;
  color: red;
  float: right;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1.2rem;
}

.empty-list {
  text-align: center;
  font-size: 18px;
}

.text-success {
  text-align: center;
  color: green;
}