.task-edit-container {
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.804);
  width: 40%;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 10px;
}

.task-edit-container h1 {
  text-align: center;
  border-bottom: 2px solid #3f3f3f;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
}

.form-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

label {
  margin-bottom: 1rem;
  margin-left: 3.5rem;
  flex: 0 0 30%;
}

input[type="text"] {
  flex: 0 0 50%;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #3f3f3f;
  margin-bottom: 1rem;
  transition: 0.5s;
  outline: none;
  box-sizing: border-box;
}

input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-bottom: 1rem;
  margin-left: 1.2rem;
  border: 1px solid #eee;
}

button[type="submit"] {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin : 0;
  flex: 1 0 auto;
}
button[type="submit"]:hover {
  background-color: #45a049;
}
